.cart-container-false{
    display:flex;
    position: absolute;
    margin: 1rem;
    padding: 0;
    align-items: right;
    justify-content: right;
    cursor:pointer;
    right: 0;
    height: 5rem;
}

.cart-container-false .carrito-simbolo{
    border-radius: 50px 50px;
    overflow: hidden;

}

.productos-en-carrito-false{
    display: none;
}


.cart-container-true{
    display:block;
    position:fixed;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor:auto;
    top:0;
    height: 80%;
    width: 70%;
    background-color: rgb(204, 204, 204);
    color: black;

    border-radius: 1rem;
}

.cart-container-true img{
    display:none;
}

.productos-en-carrito-true{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    
    height: 90%;
    width: 90%;

    align-items: center;

    color: rgb(0, 0, 255);

    overflow-y: scroll;
    scrollbar-width: thin;
    margin: 1rem;
}


.productos-en-carrito-true .listado-productos-en-carrito{
    display: block;
    position: relative;
    width: 100%;

    margin: 0;
    padding: 0;

    align-items: left;
    text-align: start;

    color: rgb(0, 0, 255);

    
}

.productos-en-carrito-true .listado-productos-en-carrito li{
    display: block;
    position: relative;
    width: 100%;

    margin: 0;
    padding: 0;

    align-items: left;
    text-align: start;

    color: rgb(0, 0, 255);
}

.div-li{
    display: flex;
    color: aqua;
    height: 5rem;
    background-color: rgba(0, 0, 0, 0.541);
    margin: 1rem;
    align-items: center;

}

/* .div-img{
    display: flex;
    position:relative;
    height: 100%;
    background-color: aqua;
} */

.producto-carrito-li .div-li img{
    display: flex;
    position: relative;
    width: 3rem;

}




.cart-count{
    position: absolute;
    left: 0.1rem;
    bottom: 0.1rem;

    width: 1.5rem;
    border-radius: 75% 75%;

    color: black;
    font-weight: 600;
    background-color: rgb(255, 251, 0);
}

.cart-total-false{
    display: none;
}

.div-total-cart{
    top: 0;
}

.cart-total-true{
    display: block;
    position: relative;
    text-align: center;
    justify-content: center;
}