.bloque-navbar{

    z-index: 100;

    display: flex;
    position: sticky;

    align-items: center;
    justify-content:space-around;
    
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 50px 50px;
    
    top: 1rem;
    color: white;
    height: 50%;
    width: 100%;
}

.bloque-navbar ul{
        position: static;
        top:0;
        margin: 2rem;
        display: flex;
        padding: 0;
}

.bloque-navbar ul li{
            font-weight: 600;
            margin: 0 1rem;
            list-style-type: none;
}


