#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-navbar{
  display: flex;
  height: 1rem;
  margin: 0.5rem;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

h1{
  margin: 1rem;
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.911);
  border-radius: 50px 50px;
}

h2{
  display: inline-block;
  color: white;
  font-variant:small-caps;
  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 50px 50px;
  background-color: rgba(0, 0, 0, 0.678);
}

h3{
  background-color: rgba(0, 0, 0, 0.911);
  color: white;
}

h4{
  font-size: large;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  color: rgb(219, 146, 50);
  font-family: cursive;
}

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */ 

.Card {
  display: block;
  position: relative;
  background-color: #ffffff6c;
  border-radius:22px;
  
  align-items: center;
  justify-content: center;
  max-width: fit-content;

  img{
    border-radius: 22px;
    position: relative;
    width: 100%;
    max-width: fit-content;
    transition: transform 0.3s ease;
  }

  img:hover{
    transform: scale(1.1);
  }
}

.Card.normal {
    background-color: #ffffffbd;
}

.Card.pocket {
    background-color: #ccffe0bd;
    h4{
      color: black;
    }
  }
  
  .Card.carga {
    background-color: #ffd4ccbd;
    h4{
      color: rgb(71, 58, 184);
    }
  }

.GrillaProductos{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap:0.5rem;
}


